// My grid

/* Grid
--------------------------------------------- */

header#masthead, main#primary article, .entry-content, footer#colophon {
    @include container;
}

main#primary {
    @include container-wrap;
}

.home main#primary {
    margin-top: 0;
}

// main#primary article > [class*="ksl-col-"], .entry-content > [class*="ksl-col-"], header#masthead > [class*="site-"] {
//     margin: var(--gap) 0 0 var(--gap);
//   }

.ksl-col-1 {
    @include col-1;
}
.ksl-col-2 {
    @include col-2;
}
.ksl-col-3 {
    @include col-3;
}
.ksl-col-4 {
    @include col-4;
}
.ksl-col-5 {
    @include col-5;
}
.ksl-col-6 {
    @include col-6;
}
.ksl-col-7 {
    @include col-7;
}
.ksl-col-8 {
    @include col-8;
}
.ksl-col-9 {
    @include col-9;
}
.ksl-col-10 {
    @include col-10;
}
.ksl-col-11 {
    @include col-11;
}
.ksl-col-12 {
    @include col-12;
}

.d-none {
    display: none !important;
}
.d-block {
    display: block !important;
}
.d-inline {
    display: inline;
}

@media screen and (min-width: 576px){
    main#primary {
        max-width: 540px;
    }
    .d-s-none {
        display: none !important;
    }
    .d-s-block {
        display: block !important;
    }
}

@media screen and (min-width: 768px){
    main#primary {
        max-width: 720px;
    }

    .m-ksl-col-1 {
        @include col-1;
    }
    .m-ksl-col-2 {
        @include col-2;
    }
    .m-ksl-col-3 {
        @include col-3;
    }
    .m-ksl-col-4 {
        @include col-4;
    }
    .m-ksl-col-5 {
        @include col-5;
    }
    .m-ksl-col-6 {
        @include col-6;
    }
    .m-ksl-col-7 {
        @include col-7;
    }
    .m-ksl-col-8 {
        @include col-8;
    }
    .m-ksl-col-9 {
        @include col-9;
    }
    .m-ksl-col-10 {
        @include col-10;
    }
    .m-ksl-col-11 {
        @include col-11;
    }
    .m-ksl-col-12 {
        @include col-12;
    }

    .d-m-none {
        display: none !important;
    }
    .d-m-block {
        display: block !important;
    }

    .order-m-1 {
        order: 1;
    }
    .order-m-2 {
        order: 2;
    }
}

@media screen and (min-width: 992px){
    main#primary {
        max-width: 960px;
    }

    .l-ksl-col-1 {
        @include col-1;
    }
    .l-ksl-col-2 {
        @include col-2;
    }
    .l-ksl-col-3 {
        @include col-3;
    }
    .l-ksl-col-4 {
        @include col-4;
    }
    .l-ksl-col-5 {
        @include col-5;
    }
    .l-ksl-col-6 {
        @include col-6;
    }
    .l-ksl-col-7 {
        @include col-7;
    }
    .l-ksl-col-8 {
        @include col-8;
    }
    .l-ksl-col-9 {
        @include col-9;
    }
    .l-ksl-col-10 {
        @include col-10;
    }
    .l-ksl-col-11 {
        @include col-11;
    }
    .l-ksl-col-12 {
        @include col-12;
    }

    .d-l-none {
        display: none !important;
    }
    .d-l-block {
        display: block !important;
    }
}

@media screen and (min-width: 1200px){
    main#primary {
        max-width: 1140px;
    }

    .d-xl-none {
        display: none !important;
    }
    .d-xl-block {
        display: block !important;
    }
}