// Overrides af plugin styling

// FB feed 
#cff {
    max-height: 370px;
    overflow: scroll;
}
.cff-wrapper {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);

    .cff-visual-header {
        border-bottom: 1px solid green;
        margin-bottom: 0 !important;
        padding-bottom: 5px;
    
        .cff-header-hero img {
            margin-top: -63px !important;
        }
    }
}
  
  

// Event calender plugin
button.tribe-common-c-btn.tribe-events-c-search__button {
    background: $primary;
}
a.tribe-events-c-ical__link {
    border-color: $primary !important;
    color: $primary !important;
}
.tribe-events-header__breadcrumbs.tribe-events-c-breadcrumbs {
    display: none;
  }

.single-tribe_events .tribe-events-event-meta {
    display: none;
}

#tribe-events-pg-template, .tribe-events-pg-template {
    width: 98%;
}

.tribe-events-sub-nav li a {
    background: $primary;
    font-size: 13px;

    &:hover{
        background: $green;
    }
}

.tribe-common .tribe-common-c-btn:focus, .tribe-common .tribe-common-c-btn:hover, .tribe-common a.tribe-common-c-btn:focus, .tribe-common a.tribe-common-c-btn:hover {
    background-color: $green !important;
}


/* not a fix for my breakpoint disagreement but stuck rn */
@media screen and (min-width: 576px) {
    .tribe-common .tribe-common-a11y-hidden {
        display: block !important;
        visibility: visible;
    }
}

// Event calender shortcodes
.ecs-event-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {

        h4 {
            margin: 3px 0;
        }
    
        a {
            color: $secondary;
        }
        a:hover {
            color: $primary;
        }
    }
}

// Featherlight
figure a[data-featherlight] img {
    cursor: pointer;
}


@media screen and (min-width: 576px){
    // Fejl i deres eget stylesheet ved min 576px
    .tribe-common .tribe-common-a11y-hidden {
        display: none !important;
    }

    #tribe-events-pg-template, .tribe-events-pg-template {
        width: 96%;
    }

    .tribe-events-sub-nav li a {
        font-size: 15px;
    }
}

@media screen and (min-width: 769px){

    .tribe-events-sub-nav li a {
        background: transparent;
        &:hover{
            background: transparent;
        }
    }
}

